.product {
    width: 300px;
    height: 510px;

    border: 1px solid #95A0A7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    position: relative;

}


.product img {


    width: 286px;
    height: 286px;
    margin: 7px;
    margin-top: 10px;
    border-radius: 8px;

}

.product-name {

    margin-top: 0px;

    margin-bottom: 0px;

    color: #0E161A;
    font-family: Lato;

    /* H6 */
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.032px;


}

.product-price {

    color: #0E161A;

    /* Subtitle 1 */
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.026px;
}


.product-seller {

    color: #2A414F;
    /* Caption */
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.048px;

}

.product-ratings {

    color: #2A414F;
    /* Caption */
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.048px;
}

.product-info {

    margin-left: 10px;

}

.product-info p {

    margin-top: 5px;

}

.btn-cart {

    border-radius: 0px 0px 8px 8px;
    border: 1px solid #95A0A7;
    background: #FFE0B3;
    color: #2A414F;
    width: 100%;
    position: absolute;

    bottom: 0;
}

.btn-cart:hover{

    background: orange;

}